* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --brand-light: #f67841;
  --brand-dark: #e43a12;
  --brand-mid: #f3541c;
  --text-primary: #292524;
  --text-secondary: #57534e;
  --text-tertiary: #8f8881;
  --text-highlight: #f67841;
  --surface: #fff;
  --surface-secondary: #fee7d6;
  --surface-disabled: #e7e5e4;
  --stroke-default: #d6d3d1;
  --stroke-highlight: #f3541c;
  --semantic-error: #dc2626;
  --supporting-orange: #f9a474;
  --supporting-yellow: #fedf6f;
  --supporting-green: #c7d78d;
  --supporting-blue: #b8cedc;
  --supporting-violet: #c3b2e7;
  --supporting-pink: #f682a5;

  --font-family: "Poppins", sans-serif;
  --text: 400 1rem/1.5 var(--font-family);
  --text-sm: 400 0.875rem/1.4 var(--font-family);
}

body {
  overflow: hidden;
  font: var(--text);
  color: var(--text-secondary);
}

h1,
h2 {
  color: var(--text-primary);
}

img {
  max-width: 100%;
  height: auto;
}

.flex {
  display: flex;
}

.flex-1 {
  flex: 1;
}

.flex-2 {
  flex: 2;
}
